{{ $type := .Get "type" }}

<div class="stagger-container">
  {{ range index $.Site.Data.experience $type }}
    <div class="experience-item staggered-item">
      <h3 class="title">{{ .title }}</h3>
      <div class="organization">{{ .organization }}</div>
      <div class="period">{{ .period }}</div>
      
      {{ if .responsibilities }}
      <ul>
        {{ range .responsibilities }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
      {{ end }}
      
      {{ if .description }}
      <p>{{ .description }}</p>
      {{ end }}
      
      {{ if .link }}
      <a href="{{ .link }}" target="_blank" rel="noopener noreferrer">Project Link</a>
      {{ end }}
    </div>
  {{ end }}
</div>